<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sayproject.model.Exercise.MapperXML">
	
	<!--MET가져오기-->
	<select id="exerciseID" parameterType="com.sayproject.model.Exercise.Exercise_Mongo" resultType="com.sayproject.model.Exercise.Exercise_Maria">
		select * from EXERCISE_INFO where EXERCISE_ID = #{id}
	</select>

	<!-- 회원정보 -->
	<select id="info" parameterType="com.sayproject.model.Exercise.MemberInfo" resultType="com.sayproject.model.Exercise.MemberInfo">
		SELECT name, regist_day, gender, age, weight, height, phone_number, expiration_day FROM members WHERE name=#{name}
	</select>
	
	<!-- 만기일 
	<select id="expiration" parameterType="String" resultType="com.sayproject.model.Exercise.MemberInfo">
		SELECT expiration_day FROM members WHERE name=#{name}
	</select>-->
</mapper>