<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sayproject.model.Main.TrainerLogin.MapperXML">
    <!-- 모든 트레이너 정보 -->
    <select id="getAllTrainer" resultType="com.sayproject.model.Main.TrainerLogin.TrainerAccount"> 
        SELECT no, name, email, nickname, photopath, age FROM trainer</select>
    <!-- 트레이너 로그인 정보 id, password -->
    <select id="trainerLogin"
        parameterType="com.sayproject.model.Main.TrainerLogin.TrainerAccount"
        resultType="com.sayproject.model.Main.TrainerLogin.TrainerAccount"> SELECT no, name, email,
        nickname, photopath, age FROM trainer WHERE email=#{email} and password=#{password}</select>
    <select id="trainerAvgGrade" resultType="Double" parameterType="Integer"> 
        SELECT avg(grade) FROM trainer_grade Where trainer_no=#{trainer_no}
    </select> 
    <select id="TrainerMemberCount" resultType="Integer" parameterType="Integer"> 
        SELECT count(trainer) FROM members Where trainer=#{trainer_no}
    </select>
    <select id="MembersAttendenceCountForTrainer" resultType="Integer" parameterType="Integer"> 
        SELECT count(trainer) FROM Attendence_members Where trainer=#{trainer_no}
    </select>     
</mapper>