<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.sayproject.model.Main.GeneralLogin.MapperXML.GeneralLoginMapper">
	
	<!--회원가입시 insert하기-->
	<insert id="generalJoin" parameterType="com.sayproject.model.Main.GeneralLgoin.GeneralJoin">
		INSERT INTO members(idOrEmail,name,weight,height,address,phone_number,gender,birthday,photopath,password,regist_day)
		VALUES(
			#{idOrEmail},
			#{name},
			#{weight},
			#{height},
			#{address},
			#{phone_number},
			#{gender},
			#{birthday},
			#{profileImageUrl},
			#{password},
			NOW()
			)
	</insert>
	
	<!--아이디 중복체크-->
	<select id="generalIDCheck" parameterType="string" resultType="int">
		SELECT count(idOrEmail) FROM members WHERE idOrEmail=#{idOrEmail}
	</select>
	
	<!--로그인 시 session만들기외한 xml-->
	<select id="generalSession" parameterType="string" resultType="com.sayproject.model.Main.GeneralLgoin.GeneralJoin">
		SELECT * FROM members WHERE idOrEmail=#{idOrEmail}
	</select>
	
	
	
</mapper>